<article>
    <h1>¿Por qué me gusta Angular?</h1>

    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur saepe cum illo dignissimos! Impedit nemo similique soluta assumenda ratione quam dolorum quis voluptates accusamus magni, veritatis qui a! Ex, sapiente.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam iusto molestias vel dolor consequuntur exercitationem molestiae at, alias, magnam laudantium omnis! Natus dicta animi id iusto, vitae culpa? Earum, consequatur?
    </p>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur saepe cum illo dignissimos! Impedit nemo similique soluta assumenda ratione quam dolorum quis voluptates accusamus magni, veritatis qui a! Ex, sapiente.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam iusto molestias vel dolor consequuntur exercitationem molestiae at, alias, magnam laudantium omnis! Natus dicta animi id iusto, vitae culpa? Earum, consequatur?
    </p>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur saepe cum illo dignissimos! Impedit nemo similique soluta assumenda ratione quam dolorum quis voluptates accusamus magni, veritatis qui a! Ex, sapiente.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam iusto molestias vel dolor consequuntur exercitationem molestiae at, alias, magnam laudantium omnis! Natus dicta animi id iusto, vitae culpa? Earum, consequatur?
    </p>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur saepe cum illo dignissimos! Impedit nemo similique soluta assumenda ratione quam dolorum quis voluptates accusamus magni, veritatis qui a! Ex, sapiente.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam iusto molestias vel dolor consequuntur exercitationem molestiae at, alias, magnam laudantium omnis! Natus dicta animi id iusto, vitae culpa? Earum, consequatur?
    </p>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur saepe cum illo dignissimos! Impedit nemo similique soluta assumenda ratione quam dolorum quis voluptates accusamus magni, veritatis qui a! Ex, sapiente.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam iusto molestias vel dolor consequuntur exercitationem molestiae at, alias, magnam laudantium omnis! Natus dicta animi id iusto, vitae culpa? Earum, consequatur?
    </p>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur saepe cum illo dignissimos! Impedit nemo similique soluta assumenda ratione quam dolorum quis voluptates accusamus magni, veritatis qui a! Ex, sapiente.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam iusto molestias vel dolor consequuntur exercitationem molestiae at, alias, magnam laudantium omnis! Natus dicta animi id iusto, vitae culpa? Earum, consequatur?
    </p>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur saepe cum illo dignissimos! Impedit nemo similique soluta assumenda ratione quam dolorum quis voluptates accusamus magni, veritatis qui a! Ex, sapiente.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam iusto molestias vel dolor consequuntur exercitationem molestiae at, alias, magnam laudantium omnis! Natus dicta animi id iusto, vitae culpa? Earum, consequatur?
    </p>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur saepe cum illo dignissimos! Impedit nemo similique soluta assumenda ratione quam dolorum quis voluptates accusamus magni, veritatis qui a! Ex, sapiente.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam iusto molestias vel dolor consequuntur exercitationem molestiae at, alias, magnam laudantium omnis! Natus dicta animi id iusto, vitae culpa? Earum, consequatur?
    </p>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur saepe cum illo dignissimos! Impedit nemo similique soluta assumenda ratione quam dolorum quis voluptates accusamus magni, veritatis qui a! Ex, sapiente.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam iusto molestias vel dolor consequuntur exercitationem molestiae at, alias, magnam laudantium omnis! Natus dicta animi id iusto, vitae culpa? Earum, consequatur?
    </p>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur saepe cum illo dignissimos! Impedit nemo similique soluta assumenda ratione quam dolorum quis voluptates accusamus magni, veritatis qui a! Ex, sapiente.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam iusto molestias vel dolor consequuntur exercitationem molestiae at, alias, magnam laudantium omnis! Natus dicta animi id iusto, vitae culpa? Earum, consequatur?
    </p>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur saepe cum illo dignissimos! Impedit nemo similique soluta assumenda ratione quam dolorum quis voluptates accusamus magni, veritatis qui a! Ex, sapiente.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam iusto molestias vel dolor consequuntur exercitationem molestiae at, alias, magnam laudantium omnis! Natus dicta animi id iusto, vitae culpa? Earum, consequatur?
    </p>
    @defer(on viewport) {
        <app-comments/>
    } @placeholder {
        <h3>Futuros comentarios</h3>
    } @loading {
        <h3>Cargando comentarios</h3>
    }
</article>
