<section>
    @if (isLoggedIn) {
        <p>Bienvenido, {{ username }}</p>
        <img 
            (click)="greet()"
            src="https://github.com/AVR216.png" 
            alt="photo">

        <app-games 
            username="{{username}}"
            (addFavEvent)="getFavGame( $event )">
        </app-games>
    } @else {
        <p>¡Inicia sesión!</p>
        <button (click)="isLoggedIn = true">Log In</button>
    }
    @if (favGame != null) {
        <p>Tu juego favorito es: {{favGame}} </p>
    }
</section>